/* Lunch/Mon Lunch main css*/

html {
  font-size: 80%;
}

body {
  padding: 2rem;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0.5rem 0.3rem;
}

ul {
  padding: 1rem 0 0.5rem;
}

.total {
  width: 50%;
  font-size: 1.5rem;
}

.student__info {
  font-size: 1.5rem;
}

.nomenclature>li {
  margin: 1.75rem 0;
  list-style-type: none;
}

.nomenclature>span {
  padding: 1rem;
}

.explication {
  margin: 0 0.75rem;
}

#calendar {
  margin: 2rem 0;
}

.calendar__note .alert-info {
  width: 100%;
  display: inline-block;
}

.calendar__dessert>select {
  width: 100%;
}
