/* Mon Lunch main css*/

html {
 font-size: 80%;
}

body{
  padding: 2rem;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0.5rem 0.3rem;
}

ul {
  padding: 1rem 0 0.5rem;
}
.total{
  width: 50%;
}

#calendar {
  margin:2rem 0;
}

.calendar__note .alert-info {
  width: 100%;
  display: inline-block;
}

.calendar__dessert>select {
  width: 100%;
}
